@font-face {
font-family: 'Archivo';
src: url('../fonts/Archivo-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

html {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    background: #300C54;
    text-align: left;
}
.metagarden-chain-layout {
    background: url(/img/metagarden-chain/bg1.svg) top left no-repeat, url(/img/metagarden-chain/bg2.svg) top right no-repeat, url(/img/metagarden-chain/bg3.svg) bottom left no-repeat, url(/img/metagarden-chain/bg4.svg) top 65% right no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.container {
    max-width: 968px;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}
.lang {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 16px 24px 0 0;
}
ul, ol {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .title, .entry table, .entry form, .entry ul, ul.list, .entry ol, .entry hr, blockquote {
    margin: 0 0 16px 0;
}
p {
    margin: 0 0 8px 0;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    min-height: 40px;
    min-width: 152px;
    padding: 10px 20px;
    border: 2px solid #AB56FF;
    background: #AB56FF;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s 0.02s ease;
    img {
        width: 24px;
        height: 24px;
        margin: 0 8px 0 0;
    }
}
.btn-icon {
    display: flex;
    align-items: center;
    padding: 8px 15px 8px 8px;
    img {
        width: 24px;
        height: 24px;
        margin: 0 8px 0 0;
    }
}
@media (max-width: 460px) {
    .btn-icon {justify-content: center;}
}
.btn:hover {
    border: 2px solid #b265fe;
    background: #b265fe;
    text-decoration: none;
}
.btn-outline {
    background: transparent;
}
.btn-disable, .btn-disable:hover {
    cursor: not-allowed;
    color: #8B5AB9;
    background: #612598;
    border: 1px solid #612598;
}
.btn-telegram {
    border: 2px solid #68a9e5;
    background: #68a9e5;
}
.btn-telegram:hover {
    border: 2px solid #7fb6e9;
    background: #7fb6e9;
}
a.simple-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
}
a.simple-link:hover {
    text-decoration-line: none;
}
.table {
	overflow-x: auto;
}
table {
	border-collapse: separate;
	border-spacing: 0 15px;
	border: 0;
	width: 100%;
	margin: auto;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
th {
	background: transparent;
	font-size: inherit;
	font-weight: 700;
	text-transform: none;
	letter-spacing: normal;
	color: inherit;
	opacity: 50%;
	padding: 8px;
	border: 0;
}
td {
	padding: 8px 15px 8px 8px;
	border: 0;
	background: transparent;
	font-weight: 700;
	white-space: nowrap;
	min-width: 8em;
}
td img {
	margin: 0 16px 0 0;
}
td.flextd > a {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
    text-decoration: underline;
}
td.flextd > a:hover {
    text-decoration: none;
}
tr:nth-child(2n) td {
	background: transparent;
}
tbody tr {
	margin: 0 0 17px 0;
}
tbody tr td:first-of-type {
	border-radius: 20px 0 0 20px;
}
tbody tr td:last-of-type {
	border-radius: 0 20px 20px 0;
}
tbody tr.tr-active {
	background: rgba(255,255,255,0.1);
	transition: all 0.3s 0.02s ease;
}

/* NAV */
.navbar {
    
}
.navbar-level-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #350C5C;
    box-shadow: -8px 8px 20px rgba(0, 0, 0, 0.2);
    .mdc-menu-surface--anchor {
        margin: 20px 16px 20px 24px;
    }
    .header__language-button {
        border: 0;
    }
}
.navbar-left {
    display: flex;
    align-items: center;
}
.navbar-logo {
    margin: 16px 24px 16px 16px;
    a {
        display: block;
        width: 29px;
        height: 32px;
    }
}
.navbar-top-menu {
    display: flex;
    align-items: center;
    gap: 24px;
}
.navbar-right {
    display: flex;
    align-items: center;
}
.navbar-social {
    display: flex;
    flex-direction: row;
    gap: 16px;
    a {
        display: block;
        width: 24px;
        height: 24px;
    }
}
.mobil-menu {
    display: none;
    align-items: center;
    justify-content: space-between;
    background: #350C5C;
    box-shadow: -8px 8px 20px rgba(0, 0, 0, 0.2);
    padding: 16px 24px;
}

.navbar-level-2 {
    margin: 28px 0 0 0;
}
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    position: relative;
}
.menu-link {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 32px 0 0;
}
.menu-link:hover .sub-menu {
    display: block;
}
.menu-link-a {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 4px transparent solid;
}
.menu-link-a:hover, .menu-link:hover .menu-link-a, .menu-link-active .menu-link-a, .menu-link-a.is-active {
    border-bottom: 4px #AB56FF solid;
    color: #AB56FF;
}
.mdc-menu-surface--anchor {
    display: inline-block;
}
.sub-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background: #0F2217;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    width: 516px;
    z-index: 5;
}
.sub-menu-item {
    padding: 12px 24px 12px 24px;
}
.sub-menu-item:hover {
    background: #132c1e;
}
.sub-menu-item:first-of-type {
    padding: 24px 24px 12px 24px;
}
.sub-menu-item:last-of-type {
    padding: 12px 24px 24px 24px;
}
.sub-menu-item:hover:first-of-type {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.sub-menu-item:hover:last-of-type {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.sub-menu-item a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    border-bottom: 0 !important;
    text-decoration: none;
}
.sub-menu-item h4 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}
.sub-menu-item p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
}
.sub-menu-item-image {
    margin: 0 16px 0 0;
}
.sub-menu-item-image img {
    width: 32px;
    height: 35px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.sub-menu-item-content h4 {margin: 0 0 8px 0;}
.header__language-button {
    border-radius: 50%;
    /*border: 2px solid #f5ece9;*/
    img {
        vertical-align: top;
    }
}
#menu__toggle {
    display: none;
}
#menu__toggle:checked ~ .menu__btn > span {
    background: url(/img/landing/metagarden/ic_close.svg);
    width: 28px;
    height: 28px;
    transform: rotate(-90deg);
    position: fixed;
    z-index: 101;
    top: 94px;
    right: 40px;
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
.menu__btn {
    width: 28px;
    height: 28px;
    cursor: pointer;
    z-index: 100;
    position: relative;
    display: block;
}
.menu__btn > span {
    background: url(/img/landing/metagarden/ic_menu.svg);
    display: block;
    width: 28px;
    height: 28px;
    transition-duration: .25s;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 80px 40px 0;
    list-style: none;
    background-color: #300C54;
    transition-duration: .25s;
    z-index: 99;
    overflow-y: scroll;
}
.menu__box > h4 {
    padding: 0 0 0 24px;
    margin: 0;
}
.menu__box hr {
    margin: 24px;
}
.menu__box .sub-menu-item:hover {
    background: none;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
.menu-icon {
    margin: 0 8px 0 0;
}
.hello {
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 50px 0 0 0;
}
.hello-content {
    text-align: left;
    max-width: 513px;
    width: 100%;
    z-index: 1;
}
.hello-content h1 {
    max-width: 100%;
}
.hello-image {
    left: unset;
    width: 100%;
    max-width: 522px;
    max-height: 523px;
    position: absolute;
    right: -140px;
    top: 0;
    z-index: 0;
}
.logo {
    margin: 0 0 16px 0;
}
.buttons-block {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 24px 0;
    span {
        max-width: 188px;
    }
}
p ul {
    margin: 16px 0;
}
h1 {
    font-weight: 700;
    font-size: 67px;
    line-height: 70px;
    margin: 0 0 24px 0;
    //text-transform: uppercase;
}
/*[data-lang='en'] h1 {
    font-family: 'Archivo',sans-serif;
}*/
h2 {
    font-weight: 700;
    font-size: 39px;
    line-height: 42px;
    margin: 0px 0px 16px 0;
}
h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 11px 0;
}
.subtitle-h1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 24px 0;
}
ul li {
    margin: 0 0 8px 20px;
}
p {
    margin: 0 0 16px;
}
p a {
    //font-weight: 700;
    color: #fff;
    text-decoration-line: underline;
}
p a:hover {
    text-decoration-line: none;
}
header {
    padding: 0 0 50px 0;
}
section {
    padding: 50px 0;
}
.video-section-block {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    align-items: center;
}
.video-section-video {
    width: 492px;
}
.video-section-text {
    width: 426px;
    .buttons-block {
        margin: 0 0 16px
    }
}
.video-youtube {
    max-width: 100%;
    //margin: 24px auto 0;
    border-radius: 24px;
}
.features-items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}
.features-item {
    width: 30%;
    display: flex;
    gap: 24px;
    align-items: center;
}
.metagarden-footer {
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    div {
        display: flex;
        gap: 24px;
    }
}

footer p {
    font-size: 14px;
    line-height: 17px;
}

@media (max-width: 1016px) {
    .container {
        padding: 0 24px;
    }
    .hello {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 10px 0 0 0;
    }
    .hello-content {
        max-width: 100%;
        padding: 0 0 20px;
    }
    .hello-image {
        max-width: 70%;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .video-section-video {
        display: block;
        margin: 0 auto;
    }
    .video-section-text {
        width: 100%;
    }
    .features-item {
        width: 45%;
    }
}
@media (max-width: 780px) {
    .navbar-level-1, .navbar-level-2 {display: none;}
    .mobil-menu {display: flex;}
    .hamburger-menu {display: block;}
    .hello {
        padding: 0;
    }
    h1 {
        font-size: 50px;
        line-height: 54px;
    }
    section {
        padding: 20px 0;
    }
    .features-items {
        gap: 10px;
    }
    .features-item {
        width: 100% !important;
    }
    .metagarden-chain-layout {
        background: url(/img/metagarden-chain/bg2.svg) top right no-repeat, url(/img/metagarden-chain/bg3.svg) bottom left no-repeat;
    }
}
@media (max-width: 460px) {
    a.btn {
        width: 100%;
        font-size: 17px;
        line-height: 29px;
        padding: 14px 15px 13px;
    }
    h1 {
        font-size: 40px;
        line-height: 42px;
    }
    h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .buttons-block span {
        max-width: 100%;
    }
}

/* metagarden-chain-early-access */
.metagarden-chain-early-access {
    .hello-content {
        max-width: 700px;
    }
    .subtitle-h1 {
        max-width: 575px;
    }
    .hello-image {
        max-width: 517px;
        max-height: 445px;
        right: -142px;
        top: 65px;
    }
}
@media (max-width: 1016px) {
    .metagarden-chain-early-access .hello-image {
        max-width: 70%;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .metagarden-chain-early-access .hello-content {
        max-width: 100%;
    }
    .metagarden-chain-early-access .subtitle-h1 {
        max-width: 100%;
    }
}

/* metagarden-chain-wallet */
.metagarden-chain-wallet {
    .hello-content {
        max-width: 670px;
    }
    .subtitle-h1 {
        max-width: 513px;
    }
    .hello-image {
        max-width: 530px;
        max-height: 439px;
        right: -170px;
        top: 140px;
    }
}
@media (max-width: 1016px) {
    .metagarden-chain-wallet .hello-content {
        max-width: 100%;
        padding: 0 0 20px;
    }
    .metagarden-chain-wallet .hello-image {
        max-width: 70%;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

/* metagarden-chain-gamerid */
.metagarden-chain-gamerid {
    .hello-content {
        max-width: 700px;
    }
    .subtitle-h1 {
        max-width: 513px;
    }
    .hello-image {
        max-width: 459px;
        max-height: 488px;
        right: -142px;
        top: 65px;
    }
}
@media (max-width: 1016px) {
    .metagarden-chain-gamerid .hello-image {
        max-width: 70%;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .metagarden-chain-gamerid .hello-content {
        max-width: 100%;
    }
    .metagarden-chain-gamerid .subtitle-h1 {
        max-width: 100%;
    }
}

/* metagarden-chain-tokenomics */
.metagarden-chain-tokenomics {
    .hello-image {
        max-width: 490px;
        max-height: 523px;
        right: -120px;
        top: -20px;
    }
    h3 {margin: 0 0 16px 0;}
}
.use-item-h4::before {
    content: "▌";
    color: #AB56FF;
}
.use-block {
    margin: 0 0 48px 0;
}
.use-items {
    columns: 3;
    gap: 24px;
}
.use-item {
    page-break-inside: avoid;
    margin: 0 0 24px 0;
}
.use-img {
    margin: 0 0 8px 0;
    img {
        width: 48px;
        height: 48px;
    }
}
@media (max-width: 800px) {
    .use-items {
        columns: 2;
    }
}
@media (max-width: 640px) {
    .hello-image {
        max-width: 60%;
        margin: 0 auto 34px auto;
    }
    .use-items, .mining-privilege-items {
        columns: 1;
    }
}

.pie {
    display: flex;
    margin: 0 0 49px 0;
}
.pie-img {
    margin: 0 24px 0 0;
    img {
        width: 100%;
        max-width: 514px;
        max-height: 124px;
    }
}
.pie-item {
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 0 50px 11px 0;
    span {
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        margin: 0 0 4px 0;
    }
}
.pie-item-1 {
    display: block;
    span {color: #AB56FF}
}
.pie-item-2 span {color: #F143C1}
.pie-item-3 span {color: #00B2FF}
.pie-item-4 span {color: #FFD600}
.circulation-text-block {
    p {
        margin: 0 0 17px 0;
    }
}
.circulation-blockchain {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 23px 0;
    word-break: break-all;
    img {
        width: 24px;
        height: 24px;
        margin: 0 8px 0 0;
    }
    .circulation-blockchain-address {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #AB56FF;
        padding: 4px 0 0 0;
        a {
            text-decoration: underline;
        }
        a:hover {
            text-decoration: none;
        }
    }
}
.circulation-text {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.circulation-text-block {
    width: 45%;
}
@media (max-width: 960px) {
    .circulation-text-block {
        width: 100%;
    }
    .pie {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .pie-img {
        margin: 0;
    }
}
.vision {
    padding: 50px 0 200px 0;
}
.vision-ico {
    display: flex;
    gap: 35px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 35px 0 0 0;
}
.vision-ico-item {
    display: flex;
    gap: 19px;
    align-items: center;
}
@media (max-width: 1016px) {
    .metagarden-chain-tokenomics .hello-image {
        max-width: 70%;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .metagarden-chain-influencer .hello-image {
        max-width: 70%;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.metagarden-chain-platform {
    /*@media (min-width: 760px) {
        h1 {
            font-size: 70px;
            line-height: 77px;
        }
    }*/
    header {
        padding: 0 0 16px 0;
    }
    .hello-image {
        max-width: 520px;
        max-height: 518px;
        right: -90px;
        top: 100px;
    }
    .subtitle-h1 {
        font-size: 16px;
        line-height: 19px;
    }
    section {
        padding: 40px 0;
    }
}
.games-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 16px 0 0 0;
    @media (max-width: 1016px) {
        justify-content: center;
    }
}
.games-item {
    max-width: 304px;
    position: relative;
    z-index: 1;
    p {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
}
img.games-image {
    width: 304px;
    height: 200px;
    margin: 0 0 8px 0;
    border-radius: 16px;
}
.buttons-block-left {
    margin: 20px 0 0 0;
    justify-content: left;
    .btn {
        min-width: 296px;
    }
}
.buttons-block-center {
    margin: 20px 0 0 0;
    justify-content: center;
    .btn {
        min-width: 296px;
    }
}
.card__badge--coming-soon {
    background: #faff00;
}
.card__badge {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-text-muted);
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    top: 16px;
    right: 0;
    padding: 4px 8px;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.25);
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    border-radius: 8px 0 0 8px;
    color: #222;
}
@media (max-width: 1016px) {
    .metagarden-chain-platform .hello-image {
        max-width: 70%;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.metagarden-chain-influencer {
    .hello-image {
        max-width: 527px;
        max-height: 600px;
        right: -142px;
        top: 65px;
    }
}
@media (max-width: 1016px) {
    .metagarden-chain-influencer .hello-image {
        max-width: 60%;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
@media (min-width: 1016px) {
    .metagarden-chain-influencer {
        header {
            padding: 0 0 100px;
        }
    }
}

.megachain-blocks-video {
    filter: drop-shadow(-8px 16px 20px rgba(30, 5, 54, 0.5));
    border-radius: 24px;
    max-width: 500px;
    margin: 0 auto;
    display: block;
}
.team-block {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
}
.team-item {
    width: 48%;
    display: flex;
    align-items: center;
    img {
        margin: 0 8px 0 0;
    }
}
h3.team-item-name {
    margin: 0;
}
h3.team-item-name a {
    text-decoration-line: underline;
}
h3.team-item-name a:hover {
    text-decoration-line: none;
}
.team-item-content-title {
    display: flex;
    align-items: center;
    margin: 0 0 8px 0;
}
@media (max-width: 1016px) {
    .team-block {
        gap: 10px;
    }
    .team-item {
        width: 100%;
    }
}


.roadmap {
    h3 {
        margin: 0 0 30px 0;
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
    }
    h4 {
        margin: 0 0 8px 0;
    }
}
.coming {
	margin: 0 0 90px 0;
}
.coming ul {
	max-height: 200px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
}
.coming ul li {
	min-width: 340px;
	font-weight: 700;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	gap: 29px;
}
ul li {
	list-style: none;
	position: relative;
	padding: 0 0 0 40px;
	margin: 0 0 0 10px;
}
ul li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border: 2px #AB56FF solid;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.completed {
	margin: 0 0 100px 0;
}
.completed_t {
	margin: 0 0 24px 0;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
}
.completed_timeline {
	margin: 0 auto;
	padding: 0 0 0 10px;
}
.completed_outer {
	border-left: 4px dotted #AB56FF;
}
.completed_card {
	position: relative;
	margin: 0 0 25px 36px;
}
.completed_info {
	display: flex;
	flex-direction: column;
}
.completed_info p {
	margin: 0 0 16px 0;
}
.completed_info p+p {
	margin-top: 0;
}
.completed_info p.timeline_links a {
	font-weight: 700;
	margin: 0 16px 0 0;
}
.completed_info ul {
	display: block;
	list-style-type: disc;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 16px;
}
.completed_info ul li {
	margin: 0 0 16px 0;
}
.completed h4::before {
	content: "";
	position: absolute;
	width: 37px;
	height: 37px;
	background: #AB56FF;
	border-radius: 20px;
	left: -56px;
	top: -6px;
	border: 6px solid #300c54;
}
#timeline_1:before {
	content: "1";
	color: #fff;
	font-weight: 700;
	position: absolute;
	left: -43px;
	z-index: 1;
	line-height: 24px;
}
#timeline_2:before {
	content: "2";
	color: #fff;
	font-weight: 700;
	position: absolute;
	left: -43px;
	z-index: 1;
	line-height: 24px;
}
#timeline_3:before {
	content: "3";
	color: #fff;
	font-weight: 700;
	position: absolute;
	left: -43px;
	z-index: 1;
	line-height: 24px;
}
#timeline_4:before {
	content: "4";
	color: #fff;
	font-weight: 700;
	position: absolute;
	left: -43px;
	z-index: 1;
	line-height: 24px;
}
#timeline_5:before {
	content: "5";
	color: #fff;
	font-weight: 700;
	position: absolute;
	left: -43px;
	z-index: 1;
	line-height: 24px;
}
#timeline_6:before {
	content: "6";
	color: #fff;
	font-weight: 700;
	position: absolute;
	left: -43px;
	z-index: 1;
	line-height: 24px;
}
#timeline_7:before {
	content: "7";
	color: #fff;
	font-weight: 700;
	position: absolute;
	left: -43px;
	z-index: 1;
	line-height: 24px;
}
@media (max-width: 1016px) {
    .coming ul {
		max-height: 100%;
	}
	.coming ul li {
		min-width: 0;
	}
	.completed-item {
		width: 100%;
	}
}

.buy-price-block {
    display: flex;
    flex-direction: column;
    margin: 0 0 31px 0;
    small {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
}
.buy-price-h3 {
    color: inherit !important;
    font-weight: 700 !important;
    font-size: 13px !important;
    line-height: 16px !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    margin: 0 0 4px !important;
}
.buy-price-value {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.buy-address-block {
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
    color: #FEC825;
    font-weight: 700;
    margin: 0 0 24px 0;
    button {
        width: 24px;
        height: 24px;
        background: 0 0;
        border: none;
        border-radius: 0;
        color: inherit;
        font: inherit;
        text-align: inherit;
        padding: 0;
        cursor: pointer;
    }
    img, svg {
        width: 24px;
        height: 24px;
    }
}
.buy-address {
    word-wrap: break-word;
    overflow: hidden;
}
.warning-block {
    display: flex;
    gap: 8px;
    color: #FF8A00;
    margin: 0 0 24px 0;
    font-size: 14px;
    line-height: 17px;
}

.docs {
    height: 100%;
    padding: 50px 0 0 0;
}
.docs-content {
    text-align: left;
    max-width: 100%;
    width: 100%;
    z-index: 1;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    margin: 0 0 24px;
    p {
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        margin: 0 0 24px;
        a {
            border-bottom: 2px solid rgb(224 176 255 / 45%);
            text-decoration-line: none;
        }
        a:hover {
            border-bottom: 0;
        }
    }
    h1 {
        font-weight: 700;
        font-size: 50px;
        line-height: 55px;
        margin: 0 0 24px 0;
    }
    h2 {
        margin: 48px 0 16px 0;
    }
    h3 {
        display: flex;
        align-items: center;
        gap: 16px;
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
        margin: 48px 0 16px 0;
        img {
            border-radius: 50%;
            width: 24px;
            height: 24px;
        }
    }
    ol {
        list-style: none;
        counter-reset: steps;
        position: relative;
        padding: 0;
        margin: 0;
        li {
            counter-increment: steps;
            padding: 0 0 16px 40px;
        }
        li:before {
            color: #000;
            content: counter(steps);
            background: #e0b0ff;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: inline-grid;
            position: absolute;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            justify-items: center;
            place-items: center;
            font-size: 14px;
            line-height: 16px;
            font-weight: 700;
            left: 0
        }
    }
    img.doc-img {
        margin: 16px auto;
        display: block;
        filter: drop-shadow(-8px 16px 20px rgba(30, 5, 54, .5));
        border-radius: 24px;
        max-width: 100%;
        height: auto;
    }
    .buttons-block {
        justify-content: center;
    }
    @media (max-width: 460px) {
        h1 {
            font-size: 40px;
            line-height: 42px;
        }
        h2 {
            font-size: 30px;
            line-height: 34px;
        }
        h3 {
            font-size: 24px;
            line-height: 28px;
        }
    }
}
.metagarden-chain-index {
    .hello {
        padding: 50px 0 0 0;
    }
    .hello-content {
        max-width: 100%;
    }
    .subtitle-h1 {
        max-width: 554px;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 40px 0;
    }
    .index-games-item {
        position: relative;
        padding: 0 0 110px 0;
        display: flex;
        align-items: center;
        gap: 48px;
        h3 {
            font-size: 22px;
            line-height: 26px;
            font-family: 'Unbounded';
        }
        p {
            max-width: 554px;
        }
        img {
            position: absolute;
            top: -200px;
            border-radius: 34px;
            box-shadow: -16px 4px 52px 0px rgba(0, 0, 0, 0.25);
        }
    }
    .index-games-100 {
        font-size: 32px;
        line-height: 39px;
        font-weight: 700;
        text-align: center;
        padding: 60px 0 0 0;
    }
    .index-games-item-reverse {
        flex-direction: row-reverse;
        text-align: right;
    }
    .index-games-item-img {
        display: flex;
        position: relative;
        width: 198px;
    }
    .why-telegram-section {
        padding: 80px 0;
    }
    .why-telegram {
        display: flex;
        gap: 55px;
        align-items: center;
        flex-wrap: wrap;
        ul {
            gap: 26px;
        }
        li {
            font-size: 18px;
            font-weight: 700;
        }
        ul li::before {
            background-image: url(/img/metagarden-chain/icon-ok.png);
            background-size: 24px 24px;
            width: 24px;
            height: 24px;
            border: 0;
            top: 0;
        }
    }
    .why-we-section {
        padding: 80px 0 150px 0;
    }
    .why-we-items {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-between;
    }
    .why-we-item {
        width: 45%;
        display: flex;
        gap: 24px;
        align-items: center;
    }
    .why-we-img {
        img {
            width: 64px;
            height: 64px;
        }
    }
    .why-we-text {
        font-size: 18px;
        line-height: 22px;
    }
    .video-section {
        padding: 50px 0 150px 0;
    }
}
@media (max-width: 860px) {
    .metagarden-chain-index {
        .subtitle-h1 {
            max-width: 100%;
            margin: 0;
        }
        .index-games-item {
            padding: 0 0 25px;
            img {
                position: relative;
                top: 0;
            }
        }
        .why-telegram-img {
            margin: 0 auto;
            img {
                display: block;
                width: 70%;
                margin: 0 auto
            }
        }
        .why-we-item {
            width: 100%;
        }
    }
}
@media (max-width: 640px) {
    .metagarden-chain-index {
        .index-games-item-img {
            width: 99px;
        }
        .index-games-item {
            padding: 0 0 48px 0;
            gap: 24px;
            img {
                width: 99px;
                border-radius: 16px;
            }
        }
        .index-games-item-reverse {
            flex-direction: row;
            text-align: left;
        }
        .why-telegram-section, .why-we-section, .video-section {
            padding: 40px 0;
        }
    }
}